body {
  background-color: #ddd;
}

h3 {
  margin-top: 0;
}

.badge {
  background-color: #777;
}

.tabs-left {
  margin-top: 1em;
}

.nav-tabs {
  float: left;
  border-bottom: 0;
}
.nav-tabs li {
  float: none;
  margin: 0;
}
.nav-tabs li a {
  color: #ffffff;
  padding: 20px 20px;
  margin-right: 0;
  border: 0;
  background-color: #333;
}
.nav-tabs li a:hover {
  background-color: #444;
}
.nav-tabs .glyphicon {
  color: #fff;
}
.nav-tabs .active .glyphicon {
  color: #333;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 0;
}

.tab-content {
  margin-left: 45px;
}
.tab-content .tab-pane {
  height: 600px;
  display: none;
  background-color: #fff;
  padding: 1.6rem;
  overflow-y: auto;
}

.tab-content .active {
  display: block;
  height: 600px;  
}

.list-group {
  width: 100%;
}
.list-group .list-group-item {
  height: 50px;
}
.list-group .list-group-item h4, .list-group .list-group-item span {
  line-height: 11px;
}


.list {
  background-color: #E3E3E3;
  border-radius: 3px;
  margin: 5px 5px;
  padding: 10px;
  width: 260px;
  float: left;
}
.list>header {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  cursor: grab;
}
header {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  cursor: grab;
}
.module-name {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}
.list article {
  border-radius: 3px;
  margin-top: 5px;
}

.list .card {
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
  padding: 6px 8px;
  cursor: pointer;
}
.list .card:hover {
  background-color: #F0F0F0;
}
.list .card:active {
    color: #fff;
    padding: 20px;
    background: #111;
    border: 1px solid #000;
    border-right: 1px solid #353535;
    border-bottom: 1px solid #353535;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
.detail {
  font-size: 12px;
  color: rgb(64, 228, 64);
}
.hidden {
  display: none;
}
[data-fakenode] {
  background-color: gray;
}

.module-icon {
  float: right;
  color: #333333;
}

.module-reference:hover {
  color: #2780e3;
}